.description {
  text-align: center;
  margin-bottom: 20px;
}

.heart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.heart {
  width: 50px;
  height: 50px;
  position: relative;
  animation: heartbeat 1s infinite steps(1);
}

.heart:before,
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: rgb(0, 73, 83);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
}

.heart:after {
  left: 25px;
  transform: rotate(45deg);
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.carousel-container {
  position: relative;
  width: 100%; /* Cambiado a ancho del 100% para ser responsive */
  max-width: 50rem; /* Agregado max-width para limitar el ancho máximo */
  height: 25rem;
  overflow: hidden;
  margin: 0 auto;
}

.carousel-images {
  display: flex;
  transition: transform 500ms ease-in-out;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.carousel-buttons {
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
}

.carousel-button {
  border: none;
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: padding 300ms ease-in-out;
}

.carousel-button.active {
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  background-color: rgb(0, 73, 83);
}

@media screen and (max-width: 768px) {
  .carousel-container {
    height: 15rem; /* Reducir la altura para adaptarse a pantallas más pequeñas */
  }

  .carousel-image {
    aspect-ratio: 4 / 3; /* Cambiar la relación de aspecto para adaptarse mejor a pantallas más pequeñas */
  }

  .carousel-buttons {
    bottom: 1rem; /* Ajustar la posición de los botones en pantallas más pequeñas */
  }
}
