.search-bar {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

.search-bar input {
  width: 70%;
  padding: 10px;
}

.results {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.results th,
.results td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.results th {
  background-color: #f2f2f2;
}

.buscar {
  background-color: rgb(0, 73, 83);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buscar:hover {
  background-color: rgb(0, 178, 178);
}

/* Estilos para el modal */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5); 
}

/* Contenido del modal */
.modal-content {
  background-color: #fefefe; 
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

/* Botón para cerrar el modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.details-button {
  background-color: rgb(0, 73, 83);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.details-button:hover {
  background-color: rgb(0, 178, 178);
}

/* Estilos para el filtro de búsqueda */
.search-bar select {
  background-color: rgb(0, 73, 83);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para el filtro de búsqueda al pasar el mouse por encima */
.search-bar select:hover {
  background-color: rgb(0, 178, 178);
}

/* Estilos para las opciones del filtro */
.search-bar select option {
  padding: 10px;
}

#pagination {
  text-align: center;
}

.pagination-button {
  background-color: rgb(0, 73, 83);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px;
}

.pagination-button:hover {
  background-color: rgb(0, 178, 178);
}

#autocompleteResults {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

#autocompleteResults li {
  padding: 10px;
  cursor: pointer;
}

#autocompleteResults li:hover {
  background-color: #f4f4f4;
}

.ver-detalles-button {
  background-color: rgb(0, 73, 83);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 4px;
}

.ver-detalles-button:hover {
  background-color: rgb(0, 178, 178);
}
